:root {
  --dark-color: #1C0C32;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
  --green-blue:#5FF1D0;
  --transition : .4s;
}

html{ 
  overflow-x: hidden !important ;
}
body{
  font-family: "Roboto", sans-serif !important;
  background-color: var(--dark-color) !important;
  color: white !important;
  width: 100vw;
  overflow-x: hidden !important ;
}
.no-scroll {
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
}
/* start components  */
.title{
  font-size: 30px;
  text-transform: uppercase;
  width: fit-content;
  padding: 10px 20px;
  position: relative;
  border-bottom: 2px solid var(--green-blue);
  margin: 0 auto 70px;
  transition: var(--transition);
}
.title::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--green-blue);
  right:-30px;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--transition);
}
.title::after{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--green-blue);
  left:-30px;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--transition);
}
.h3-section{
  color: var(--green-blue);
}
.callme{
  position: relative;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
	color: #999 !important;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
  transition: var(--transition);
}
.callme::before{
  content: "";
  position: absolute;
  width: 0px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: linear-gradient(to right, transparent, rgba(95, 241, 208,.2));
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: var(--transition);
}
.callme:hover{
  color: var(--green-blue) !important;
}
.callme:hover::before{
  width: 200%;
}
.callme  span:nth-child(1) {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #171618, var(--green-blue));
	animation: animate1 2s linear infinite;
}

@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

.callme  span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 2px;
	background: linear-gradient(to bottom, #171618, var(--green-blue));
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

.callme  span:nth-child(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, #171618, var(--green-blue));
	animation: animate3 2s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.callme span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 2px;
	background: linear-gradient(to top, #171618, var(--green-blue));
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}
/* animation on scroll and load */
.show-onload{
  opacity: 0;
  transform: translateY(-40px);
  transition: all 1s;
}
.show{
  filter: blur(0);
  transform: translateY(0);
  opacity: 1;
}
.sh-r{
  opacity: 0;
  transform: translate(30%,0px);
  transition: all 1s;
}
.sh-l{
  opacity: 0;
  transform: translate(-30%,0px);
  transition: all 1s;
}
.sh-b{
  opacity: 0;
  transform: translate(0%,30%);
  transition: all 1s;
}
.show-sh{
  opacity: 1;
  transform: translate(0,0);
}
/* End components  */
/* lodaer */
.loader-container{
  position: fixed;
  top: 0;
  background-color: var(--dark-color);
  height: 100vh;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #1c6352;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--green-blue);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
    100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}
/* end loader */
/* End Nav bar */
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          position: relative;
          left: 0;
          z-index: 2;
}
header .logo{
  height: 30px;
}
header .logo img{
  max-width: 100%;
  max-height: 100%;
}
header .container nav {
  -webkit-transition: 0.4s linear;
  transition: width 0.4s linear;
}
header .container nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  margin: auto;
  display: flex;
}
header .container nav ul li{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
header .container nav ul li a {
  transition: var(--transition);
  color: white;
  text-decoration: none;
}
header .container nav ul li a.active,
header .container nav ul li a:hover{
  color: var(--green-blue) !important;
}
@media (max-width: 576px) {
  header .container nav {
    position: fixed;
    background-color: var(--dark-color);
    top: 0px;
    right: 0;
    height:100vh;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    padding-top: 100px ;
  }
  header .container nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  header .container nav.close-nav {
    width: 0;
  }
  header .container nav.open-nav {
    width: 70%;
  }
}
.humbergur {
  position: relative;
  left: 0;
  width: 30px;
  aspect-ratio: 1/1;
  cursor: pointer;
  display: none;
  z-index: 99;
}
@media (max-width: 576px) {
  .humbergur {
    display: block;
  }
}
.humbergur span {
  position: absolute;
  width: 24px;
  height: 2px;
  background: white;
  border-radius: 100px;
  display: inline-block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  left: 0;
}
.humbergur span.top {
  top: 6px;
}
.humbergur span.middle {
  top: 14px;
}
.humbergur span.bottom {
  top: 22px;
}
.humbergur .on.top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  left: 6px;
}
.humbergur .on.bottom {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  left: 5px;
}
.humbergur .on.middle {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}
.overlay {
  position: absolute;
  width: 0px;
  height: 100vh;
  top: 0px;
  left: 0;
  bottom: 0;
  background: rgba(24, 23, 23, 0.2);
  backdrop-filter: blur(3px);
  opacity: 1;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  z-index: 1;
}
.overlay.open {
  width: 100vw;
  opacity: 1;
}

/*********End Header***************/
/* strat Hero  */
.hero{
  position: relative;
  min-height: calc(100vh - 72px);
  gap: 20px;
}
.hero .hero-welcome{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.hero-name h1{
  letter-spacing: 2px;
  font-size: 2.8rem;
}
.hero-name h1 span{
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  display: inline-block;
}
.hero-name h1 span.bounce{
  animation-name: bounce;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
      transform: scale(1, 1);
  }
  40% {
      transform: scale(0.65, 1.75);
  }
  45% {
      transform: scale(0.65, 1.75);
  }
  70% {
      transform: scale(0.75, 1.25);
      color: #5FF1D0;
  }
  90% {
      transform: scale(0.85, 1.15);
  }
}
.hero .hero-welcome p{
  max-width: 500px;
}
.hero .avatar{
  position: relative;
}
.hero img{
  max-width: 200px;
}
.stars-field{
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 400px;
  position: absolute;
  overflow: hidden;
}
.stars-field .star{
  border-radius: 50%;
  position: absolute;
  right: -4px;
  width: 2px;
  aspect-ratio: 1/1;
  animation: starMove 20s linear  infinite;
}
@keyframes starMove {
  from{
    right: -4px;
  }
  to{
    right: 100%;
  }
}

.stars-field .blue{
  background-color: var(--green-blue);
}
.stars-field .white{

  background-color: white;
}
.stars-field .red{
  background-color: red;
}
.hero .go-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: var(--green-blue);
  transform: translateX(-50%);
  transition: var(--transition);
}
@media (max-width:768px) {
  .hero .go-down{
    bottom: -50px;
    left: 47%;
  }
}
.hero .go-down  {
  animation: arrow 1.5s;
  animation-iteration-count: infinite;
}
@keyframes arrow {
  0%,10%,20%,50%,80%,100%{
    transform: translateY(0%);
  }
  40%,60%{
    transform: translateY(-30%);
  }
}
/* Start about section */
.solar-system {
  position: relative;
  width: min(80%,420px) ;
  aspect-ratio: 1/1;
  margin: 0 auto;
  overflow: hidden;
}
.orbit {
  border: 1px dashed #666;
}

#html, .orbit, .orbit + div, .orbit + div > div {
	position: absolute;
  font-size: 2rem;
}

#html, .orbit, .orbit + div {
	top: 50%;
	left: 50%;
}
.orbit + div > div {
	top: 0;
  left: 50%;
}

.orbit, .orbit + div div, #earth {
	border-radius: 50%;
}



#html {
	height: 50px;
	width: 50px;
	background-color: var(--green-blue);
  margin-top: -25px; 
  margin-left: -25px;
  border-radius: 50%;
  color: var(--dark-color);
  box-shadow: 0 0 54px  var(--green-blue);
}

#html,#bp,#js,#css,#sass{
  display: flex;
  justify-content: center;
  align-items: center;
}
#bp {
  margin-top: -20px;
  margin-left: -20px;
  height: 40px;
  width: 40px;
  color: #3498db;
  box-shadow: 0 0 34px #3a4385;
}
.bp-orbit, .bp-spin {
  margin-top: -110px;
  margin-left: -110px;
  width: 220px;
  height: 220px;
}

#js {
  margin-top: -25px;
  margin-left: -25px;
  height: 50px;
  width: 50px;
  color: #EFD81D;
}

.js-orbit, .js-spin {

  width: 280px;
  height: 280px;
  margin-left: -140px;
  margin-top: -140px;   
}
#css{
  margin-top: -25px;
  margin-left: -25px;
  height: 50px;
  width: 50px;
  color: #254BDD;
}
.css-orbit, .css-spin{
  width: 160px;
  height: 160px;
  margin-left: -80px;
  margin-top: -80px; 
}
#sass{
  margin-top: -25px;
  margin-left: -25px;
  height: 50px;
  width: 50px;
  font-size: 1.5rem;
  color: white;
  background-color: #C66394;
}
.sass-orbit, .sass-spin{
  width: 360px;
  height: 360px;
  margin-left: -180px;
  margin-top: -180px; 
}
/* Spinning animations */

@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}
.bp-spin {
  animation: spin-right 22s linear infinite;
}
.js-spin {
  animation: spin-right 8.8s linear infinite;
}
.css-spin {
  animation: spin-right 7s linear infinite;
}
.sass-spin {
  animation: spin-right 15s linear infinite;
}

/*  end about section */
/* strat skills */
.skills ul{
  list-style: none;
}
.skills ul li .fa-circle-check{
  margin-right: 10px;
  color: var(--green-blue);
}
.skills .my-skill span{
  display: inline-block;
  background-color:var(--green-blue);
  color: var(--dark-color);
  padding:  10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 10px;
}
/* End skills */
/* strat work section */
.work .card{
  color: var(--dark-color);
}
.work .card-img{
  position: relative;
  overflow: hidden;
  height: 200px;
  border-bottom: 1px solid var(--dark-color);
}
.work .card-img::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(95, 241, 208,.2);
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 1;
  transition: var(--transition);
}
.work .card-img:hover::before{
  left: 0;
}
.work .card-img .site-link{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%,-50%);
  color:rgb(95, 241, 208,.7);
  font-size: 2rem;
  opacity: 0;
  transition: var(--transition);
  z-index: 2;
}
.work .card-img .site-link:hover{
  color: var(--green-blue);
}
.work .card-img:hover .site-link{
  top: 50%;
  opacity: 1;
}
.work .card-img img{
  transition: var(--transition);
}
.work .card-img:hover img{
  transform: scale(1.1);
}
.work .card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.work .card button {
  position: relative;
  display: block;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  background: transparent;
  padding: 0;
  margin-left: auto;
}

.work .card button.learn-more {
  width: 9rem;
  height: auto;
}

.work .card button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2rem;
  height: 2rem;
  background:var(--dark-color);
  border-radius: 1.625rem;
}

.work .card button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--green-blue);
}

.work .card button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: .3rem;
  width: 1rem;
  height: 0.125rem;
  background: none;
}

.work .card button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.work .card button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.4rem 0;
  margin: 0 0 0 2rem;
  color: #282936;
  font-size: .8rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.work .card button:hover .circle {
  width: 100%;
}

.work .card button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.work .card button:hover .button-text {
  color: var(--green-blue);
}
/* End work section */
/* star Contact seciton */
.contact p{
  max-width: 400px;
  margin: 20px auto;
  font-size: 1.2rem;
}
/* ENd Contact seciton */
.contact .circle {
	position: relative;
	width: 200px;
	height: 200px;
  margin: 0 auto;
	border-radius: 100vmax;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact  .logo {
	position: absolute;
	width: 140px;
	height: 140px;
	background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
	border-radius: 100vmax;
  box-shadow: 0 0 54px  var(--green-blue);
}
.contact  .logo svg{
  font-size: 4rem;
  color: var(--green-blue);
}
.contact  .text {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: consolas;
	color: #fff;
	text-shadow: 0 0 10px var(--green-blue);
	font-size: 17px;
	animation: textRotation 8s linear infinite;
}

@keyframes textRotation {
	to {
		transform: rotate(360deg);
	}
}

.contact  .text span {
	position: absolute;
	left: 50%;
	font-size: 1.2em;
	transform-origin: 0 100px;
}
/*  end contact */
/* start footeer */
footer .links{
  margin: 20px 0;
}
footer .links svg{
  font-size: 2rem;
  margin: 0 10px;
  border-radius: 50%;
  color: rgba(95, 241, 208,.6);
  transition: var(--transition);
}
footer .links svg:hover{
  color: var(--green-blue);
}
footer p{
  color: var(--green-blue);
}
/* End footeer */
.typed-cursor {
  color: #5FF1D0;
  font-size: 35px;
}
h2.sh.sh-r.typed.one-sh.show-sh {
  display: inline-block;
}
h1.bouncing-letters.sh.sh-r.one-sh.show-sh {
  margin-bottom: 0;
}